<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Create a room</div>
        <div class="panel-body">
            <form ng-submit="server.CreateRoom(newRoomName, displayName)">
                Room name: <input type="text" ng-model="newRoomName" /><br />
                Your name: <input type="text" ng-model="displayName" /><br />
                <input type="submit" value="Create room" />
            </form>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Available rooms</div>
        <div class="panel-body">
            <div ng-show="server.rooms == null"><img src="..\ajax-loader.gif" /></div>
            <accordion close-others="true" ng-show="server.rooms != null">
                <accordion-group ng-repeat="room in server.rooms" is-open="isopen">
                    <accordion-heading>
                        <i class="glyphicon" ng-class="{true:'glyphicon-chevron-down', false:'glyphicon-chevron-right'}[isopen]"></i>
                        {{room.Name}}
                    </accordion-heading>
                    <div>
                        <form ng-submit="server.JoinRoom(room.Id, displayName)">
                            Your name: <input type="text" ng-model="displayName" /><br />
                            <input type="submit" value="Join room" />
                        </form>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
