<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Create a room</div>
        <div class="panel-body">
            <form ng-submit="CreateRoom(newRoomName)">
                Room name: <input type="text" ng-model="newRoomName" /><br />
                <input type="submit" value="Create room" />
            </form>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Available rooms</div>
        <div class="panel-body">
            <div ng-show="rooms == null"><img src="..\ajax-loader.gif" /></div>
            <div ng-show="rooms != null">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Room</th>
                            <th>Voters</th>
                            <th>Viewers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="room in rooms">
                            <td><a href="#/room/{{room.Id}}">{{room.Name}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
