<div>This is the lobby</div>
<div class="panel panel-default">
    <div class="panel-heading">Create a room</div>
    <div class="panel-body">
        Room name: <input type="text" ng-model="newRoomName" />
        <input type="button" value="Create room" ng-click="addRoomButton(newRoomName);" />
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Available rooms</div>
    <div class="panel-body">
        <div ng-show="rooms == null"><img src="..\ajax-loader.gif"></img></div>
        <accordion close-others="true" ng-show="rooms != null">
            <accordion-group ng-repeat="room in rooms" is-open="isopen">
                <accordion-heading>
                    <i class="glyphicon" ng-class="{true:'glyphicon-chevron-down', false:'glyphicon-chevron-right'}[isopen]"></i>
                    {{room.Name}}
                </accordion-heading>
                <div>
                    Join this room!
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
